
.activity {
    width: 70%;
    margin: 3rem auto;
    text-align: justify;
    background-color: #e5e5e5;
    padding: 2rem;
}

.activity h2 {
    font-size: 1.7rem;
    margin: 1.3rem;
    font-style: italic;
}

.activity p {
    margin: 1rem;
    font-size: 25px;
    text-align: center;
}

body.dark .activity {
    background-color: #111;
    padding: 2rem;
}
