.img {
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.text {
    margin: 2rem auto 2rem auto;
    width: 70%;
    font-size: 20px;
}

img {height: 100%;}

.text p {margin: 1rem;}

table {
    width: 70%;
    border-collapse: collapse;
    border: solid 1px#111;
    margin: 0 auto;
}

thead {background-color: #111;}

th {
    padding: 1rem;
    color: #fff;
    width: 50%;
}

td {
    padding: 1rem;
    text-align: center;
    border-left: 1px solid#111;
}

td:nth-child(1) {background-color: #e5e5e5;}

tr {border-bottom: solid 1px#111;}

hr {
    width: 55%;
    margin: 4rem auto;
}

.movil {display: none;}

body.dark table {border: solid 1px#fff;}

body.dark thead {background-color: #eaeaea;}

body.dark th {color: #232323;}

body.dark td {color: #fafafa;}

body.dark td:nth-child(1) {background-color: #1e1e1e;}

body.dark tr {border-bottom: solid 1px#eaeaea;}

@media screen and (max-width: 768px) {
    .contain {width: 100%;}

    .desktop {display: none;}

    .text {width: 90%;}

    .movil {
        display: table;
        width: 90%;
    }

    td {border-right: solid 1px #111;}

    body.dark td {border-right:solid 1px #fff;}
}