@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.2s;
    transition-delay: 0;
}
html {font-family: 'Roboto', sans-serif;}
body {background-color: #e5e5e5;}
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: #d2d2d2 0 0 3px 3px;
    z-index: 10;
}
.header-contain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    /* background-color: #fff; */
    height: 5rem;
    width: 90%;
    margin: 0 auto;
    z-index: 10;
}
header p {font-size: 1.3rem;}
header a {
    text-decoration: none;
    color: black;
}
.theme {
    position: absolute;
    top: 1rem;
    right: 10%;
    top: 50%;
    font-size: 2rem;
    transform: translate(90%, -50%);
    cursor: pointer;
}
.contain {
    width: 90%;
    margin: 5rem auto 2rem auto;
    background-color: #f2f2f2;
    padding: 2rem 0;
    box-shadow: #d2d2d2 0 0px 3px 3px;
}
h1,h2 {text-align: center;}
h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
h2 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    margin-top: 6rem;
    font-style: italic;
}
h3 {
    text-align: center;
}
footer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 5rem;
}
a {
    color: #232323;
    transition: 0.2s;

    &:hover {
        color: #3b3939;
        text-decoration: none;
        cursor: pointer;
    }
}
body.dark {
    background-color: #121213;
    color: #fefefe;
}
body.dark header {
    background-color: #000;

    & a {
        color: #fafafa;
    }

    box-shadow: #151515 0 0px 3px 3px;
}
body.dark .contain {
    background-color: #232323;
    box-shadow: #151515 0 0px 3px 3px;
}
.underline {
    text-decoration: underline;
}
body.dark h2 {color: #fff;}
body.dark hr {background-color: #fdfdfd;}
body.dark footer {background-color: #121213;}
body.dark a {color: #fafafa;}
@media screen and (max-width: 768px) {
    header p {
        font-size: 1rem;
    }
    .header-contain {
        width: 75%;
    }
}
